*{
    font-family:"Montserrat", sans-serif;
}

#hero h1{
    font-size: 56px;
}

#hero p{
    font-size: 20px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 22px;
}

p{
    font-size: 16px;
}
nav{
    background-color: #57D6B1;
}
header{
    color: #ffffff;
    background-color: #0F172A;
}
footer{
    text-size: 14px;
    color: #ffffff;
    background-color: #0F172A;
}